body {

    background-image: url(backgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

input{
    /*border: solid;*/
}

ul{
    margin: 0;
    padding: 0
}



#header{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: Helvetica Neue;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255,255,255,0.2);

}

#todolist{
    background-color: #feec8a;
}

.center{
    width: 500px;
    position: relative;
    margin: auto;
}

#todoitem{
        /*border: solid;*/
}

#colorplatte{
    position: relative;
    margin-right: auto;
    width: 200px;
    margin-top: 0;
    margin-bottom: 20px;
}
.coloroption{
    width: 30px;
    height: 30px;
    display: table-cell;
    position: relative;
    border: solid;
    border-width: 1px;
    border-color: transparent;


}

.space{
    width: 10px;
    height: 20px;
    display: table-cell;
    position: relative;

}

#whitebox{
    background-color: azure;
}
#redbox{
    background-color: rgb(247, 132, 106);
}
#yellowbox{
    background-color: #feec8a;}

#greenbox{
    background-color: rgb(201, 234, 93);}

#bluebox{
    background-color: rgb(146, 228, 201);
}
.noteinput{
	background-color: #feec8a;
    position: relative;
    margin-left: 20px;
	height: 60px;
    width: 405px;
	color: grey;
	font-size: 20px;
    border-style: none;
}

.notecb{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    left: 10px;
    border-style: none;
}

.noteremove{
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: relative;
    color: grey;
    background-color: #feec8a;
    border-style: none;}

.noteremove:hover{
    color: black;
            /*display: inline;*/
}
#verticalLine{
    border-left: thick solid darkgray;
}

